$color-theme-main: #143256;
$color-theme-main-light: #11497a;
$color-theme-gray: grey;

$background-theme-dark: #33465D;
$background-theme-light: #4a6686;

$font-weight-thin: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;