---
layout: default
---

<header>
<h1>{{ page.title }}</h1>
</header>

<div class="post-content">
{{ content }}

{% assign p_array = "" | split:"|"  %}
{% for project in site.project %}
    {% capture p_slug %}{{ project.url | split:"/" | last }},{{ project.url }}{% endcapture %}
    {% assign p_slug_arr = p_slug | split:"," %}
    {% assign p_array = p_array | push: p_slug_arr  %}
{% endfor %}

<div class="projects">
{% for i in site.data.projects %}
    <div class="row" style="padding: 20px;">
        {% assign p_url = nil %}
        {% for pr in p_array %}
            {% if pr contains i.slug %}
                {% assign p_url = pr[1] %}
            {% endif %}
        {% endfor %}
        {% if p_url == nil %}
            {% assign p_url = i.url %}
        {% endif %}
        <div class="3u">
            <a class="project-detail" href="{{ p_url }}">
                <img style="width: 100%; height: auto; border: 1px solid lightgrey;"
                     src="{{site.url}}/images/projects/preview/{{ i.image }}"/>
            </a>
        </div>
        <div class="9u">
            <p>
                {% if p_url %}<a class="project-detail" href="{{ p_url }}">{% endif %}
                <strong>{{ i.name }}</strong>
                {% if p_url %} </a> {% endif %}
                <br>
                <span class="project-timeline">{{ i.date }}</span> -
                {% if i.tags %}
                Tags:
                {% for j in i.tags %}
                <span>[{{ j }}]</span>
                {% endfor %}
                {% endif %}
                <br>
                {{ i.description }}
            </p>
        </div>
    </div>
    <hr>
{% endfor %}
</div>
</div>